*.rar
*.o
*.d
*.crf
*.htm
*.dep
*.map
*.bak
*.lnp
*.lst
*.ini
*.iex
*.sct
*.scvd
*.uvguix
*.dbg*
*.uvguix.*
.mxproject
*.uvoptx
*.bin

RTE/
Templates/
Examples/
MDK-ARM/stm32f429zi-LCD
!*.uvprojx
!*.h
!*.c
!*.ioc
!*.bin
